<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

 <div class="field">
    <%= f.label :ì´ë¦„, :class => "name" %><br />
    <%= f.email_field :name, :class => "name-box", autofocus: true %>
  </div>
<p>
  <strong>Carrier:</strong>
  <%= @profile.carrier %>
</p>

<p>
  <strong>Main:</strong>
  <%= @profile.main %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @profile.intro %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
