 
      <div id="main-item-container" class="item-data-container">
        <!--<div class="item-data-inner">-->
        <!--  <div class="item-header">-->
        <!--    <h3>Delicious food</h3>-->
        <!--    <h5>blog</h5>-->
        <!--  </div>-->
        <!--  <div class="item-body">-->
        <!--    <h4>요리 & 레시피</h4>-->
        <!--    <div class="icon-bundle">-->
        <!--      <img src="<%= image_url('database.png')%>" alt="BackEnd-Developer">-->
        <!--      <img src="<%= image_url('photoshop.png')%>" alt="Designer">-->
        <!--      <img src="<%= image_url('html.png')%>" alt="FrontEnd-Developer">-->
                  
        <!--    </div>-->
        <!--  </div>-->
        <!--</div>-->
        <!--<div class="item-expires-container">-->
        <!--	<h4>By 2017.05.01</h4>-->
        <!--	<div class="item-expires-dday">-->
        <!--		<img src="<%= image_url('timer.png')%>" alt="timer icon">-->
      		<!--  <h4 class="left-day">5 </h4><h4>Days</h4>-->
      	 <!-- </div>-->
        <!--</div>-->
      </div>
  </section>
  
  <a href="">
  <aside class="aside-item-container">
    <div class="arrow"></div>
    <ul class="grid-container">
      <li class="item col-lg-1 col-xl-1 col-sm-1">
        <img class="item-img" src="<%= image_url('pet-diary.jpg')%>"></img>
        <div class="item-data-container">
          <div class="item-data-inner">
            <div class="item-header">
              <h3>My pet diary</h3>
              <h5>블로그</h5>
            </div>
            <div class="item-body">
              <h4>집사 & 냥아치</h4>
              <div class="icon-bundle">
                <img src="<%= image_url "database.png"%>" alt="BackEnd-Developer">
                <img src="<%= image_url "photoshop.png"%>" alt="Designer">
                <img src="<%= image_url "html.png"%>" alt="FrontEnd-Developer">
              </div>
            </div>
          </div>
          <div class="item-expires-container">
        	  <h4>By 2017.05.17</h4>
        	  <div class="item-expires-dday">
        		  <img src="<%= image_url "timer.png"%>" alt="timer icon">
      		    <h4 class="left-day">20 </h4><h4>Days</h4>
      	    </div>
          </div>
        </div>
      </li>
      </a>
      
      <a href="">
      <li class="item col-lg-1 col-xl-1 col-sm-1">
        <img class="item-img" src="<%= image_url "clothes.jpg"%>"></img>
        <div class="item-data-container">
          <div class="item-data-inner">
            <div class="item-header">
              <h3>드루와~</h3>
              <h5>쇼핑몰</h5>
            </div>
            <div class="item-body">
              <h4>패션 & 잡화</h4>
              <div class="icon-bundle">
                <img src="<%= image_url "database.png"%>" alt="BackEnd-Developer">
                <img src="<%= image_url "photoshop.png"%>" alt="Designer">
                <img src="<%= image_url "html.png"%>" alt="FrontEnd-Developer">
              </div>
            </div>
          </div>
          <div class="item-expires-container">
        	  <h4>By 2017.05.29</h4>
        	  <div class="item-expires-dday">
        		  <img src="<%= image_url "timer.png"%>" alt="timer icon">
      		    <h4 class="left-day">15 </h4><h4>Days</h4>
      	    </div>
          </div>
        </div>
      </li>
      </a>
      
      <a href="">
      <li class="item col-lg-1 col-xl-1 col-sm-1">
        <img class="item-img" src="<%= image_url "fire.jpg"%>"></img>
        <div class="item-data-container">
          <div class="item-data-inner">
            <div class="item-header">
              <h3>1325:1</h3>
              <h5>크라우드 펀딩</h5>
            </div>
            <div class="item-body">
              <h4>기부 & 소방관</h4>
              <div class="icon-bundle">
                <img src="<%= image_url "database.png"%>" alt="BackEnd-Developer">
                <img src="<%= image_url "photoshop.png"%>" alt="Designer">
                <img src="<%= image_url "html.png"%>" alt="FrontEnd-Developer">
              </div>
            </div>
          </div>
          <div class="item-expires-container">
        	  <h4>By 2017.06.01</h4>
        	  <div class="item-expires-dday">
        		  <img src="<%= image_url "timer.png"%>" alt="timer icon">
      		    <h4 class="left-day">25 </h4><h4>Days</h4>
      	    </div>
          </div>
        </div>
      </li>
      </a>
      
      <a href="">
      <li class="item col-lg-1 col-xl-1 col-sm-1">
        <img class="item-img" src="<%= image_url "beauty.jpg"%>"></img>
        <div class="item-data-container">
          <div class="item-data-inner">
            <div class="item-header">
              <h3>Beauty shop</h3>
              <h5>쇼핑몰</h5>
            </div>
            <div class="item-body">
              <h4>패션 & 화장품</h4>
              <div class="icon-bundle">
                <img src="<%= image_url "database.png"%>" alt="BackEnd-Developer">
                <img src="<%= image_url "photoshop.png"%>" alt="Designer">
                <img src="<%= image_url "html.png"%>" alt="FrontEnd-Developer">
              </div>
            </div>
          </div>
          <div class="item-expires-container">
        	  <h4>By 2017.06.08</h4>
        	  <div class="item-expires-dday">
        		  <img src="<%= image_url "timer.png"%>" alt="timer icon">
      		    <h4 class="left-day">15 </h4><h4>Days</h4>
      	    </div>
          </div>
        </div>
      </li>
      </a>
      
      <a href=""> 
      <li class="item col-lg-1 col-xl-1 col-sm-1">
        <img class="item-img" src="<%= image_url "trip.jpeg"%>"></img>
        <div class="item-data-container">
          <div class="item-data-inner">
            <div class="item-header">
              <h3>Ready?!</h3>
              <h5>블로그</h5>
            </div>
            <div class="item-body">
              <h4>여행 & 사진</h4>
              <div class="icon-bundle">
                
                <img src="<%= image_url "database.png"%>" alt="BackEnd-Developer">
                <img src="<%= image_url "photoshop.png"%>" alt="Designer">
                <img src="<%= image_url "html.png"%>" alt="FrontEnd-Developer">
              </div>
            </div>
          </div>
          <div class="item-expires-container">
        	  <h4>By 2017.06.11</h4>
        	  <div class="item-expires-dday">
        		  <img src="<%= image_url "timer.png"%>" alt="timer icon">
      		    <h4 class="left-day">35 </h4><h4>Days</h4>
      	    </div>
          </div>
        </div>
      </li>
      </a>
      
      <a href="">
      <li class="item col-lg-1 col-xl-1 col-sm-1">
        <img class="item-img" src="<%= image_url "run.jpg"%>"></img>
        <div class="item-data-container">
          <div class="item-data-inner">
            <div class="item-header">
              <h3>Runner</h3>
              <h5>동호회</h5>
            </div>
            <div class="item-body">
              <h4>운동 & 마라톤</h4>
              <div class="icon-bundle">
                <img src="<%= image_url "database.png"%>" alt="BackEnd-Developer">
                <img src="<%= image_url "photoshop.png"%>" alt="Designer">
                <img src="<%= image_url "html.png"%>" alt="FrontEnd-Developer">
              </div>
            </div>
          </div>
          <div class="item-expires-container">
        	  <h4>By 2017.06.19</h4>
        	  <div class="item-expires-dday">
        		  <img src="<%= image_url "timer.png"%>" alt="timer icon">
      		    <h4 class="left-day">17 </h4><h4>Days</h4>
      	    </div>
          </div>
        </div>
      </li>
      </a>
      
      <a href="">
      <li class="item col-lg-1 col-xl-1 col-sm-1">
        <img class="item-img" src="<%= image_url "chess.jpg"%>"></img>
        <div class="item-data-container">
          <div class="item-data-inner">
            <div class="item-header">
              <h3>Checkmate</h3>
              <h5>동호회</h5>
            </div>
            <div class="item-body">
              <h4>체스 & 동호회</h4>
              <div class="icon-bundle">
                <img src="<%= image_url "database.png"%>" alt="BackEnd-Developer">
                <img src="<%= image_url "photoshop.png"%>" alt="Designer">
                <img src="<%= image_url "html.png"%>" alt="FrontEnd-Developer">
              </div>
            </div>
          </div>
          <div class="item-expires-container">
        	  <h4>By 2017.06.21</h4>
        	  <div class="item-expires-dday">
        		  <img src="<%= image_url "timer.png"%>" alt="timer icon">
      		    <h4 class="left-day">17 </h4><h4>Days</h4>
      	    </div>
          </div>
        </div>
      </li>
      </a>
      
      <a href=""> 
      <li class="item col-lg-1 col-xl-1 col-sm-1">
        <img class="item-img" src="<%= image_url "rainbow.jpg"%>"></img>
        <div class="item-data-container">
          <div class="item-data-inner">
            <div class="item-header">
              <h3>Go for it!</h3>
              <h5>블로그</h5>
            </div>
            <div class="item-body">
              <h4>평등 & 권리</h4>
              <div class="icon-bundle">
                <img src="<%= image_url "database.png"%>" alt="BackEnd-Developer">
                <img src="<%= image_url "photoshop.png"%>" alt="Designer">
                <img src="<%= image_url "html.png"%>" alt="FrontEnd-Developer">
              </div>
            </div>
          </div>
          <div class="item-expires-container">
        	  <h4>By 2017.06.25</h4>
        	  <div class="item-expires-dday">
        		<img src="<%= image_url "timer.png"%>" alt="timer icon">
      		    <h4 class="left-day">25 </h4><h4>Days</h4>
      	    </div>
          </div>
        </div>
      </li>
      </a>
    </ul>
    <div class="arrow"></div>
  </aside>
  <footer class="footer">

  </footer>

  <script type="text/javascript">
    var height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
    var width = window.innerHeight || document.documentElement.clientwidth || document.body.clientWidth;
    var p = document.getElementById("test");
    var mainSection = document.getElementById("main-section");
    var mainItem = document.getElementById("main-item-container");
    resizeHandler();
    window.addEventListener("resize", resizeHandler);
    function resizeHandler() {
      height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
      width = window.innerWidth || document.documentElement.clientWidth ||document.body.clientWidth;
      mainItem.style.top = height - 205 + "px";
      mainItem.style.left = width - 320 + "px";
      mainSection.style.height = height + "px";
    }
  </script>

