<p id="notice"><%= notice %></p>

<h1>등록된 프로젝트입니다</h1>

<table>
  <thead>
    <tr>
      <th>프로젝트 명</th>
      <th>지원기간</th>
      <th>마감기한</th>
      <th>예상금액</th>
      <th>진행상태</th>
      <th>내용</th>
      <th>필요한 기술 태그</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.pname %></td>
        <td><%= project.supportperiod %></td>
        <td><%= project.deadline %></td>
        <td><%= project.limitmoney %></td>
        <td><%= project.planstate %></td>
        <td><%= project.pcontent %></td>
        <td><%= project.ptag %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
