<!--<p id="notice"><%= notice %></p>-->
<div class="project-content-container">
<p>
  <strong>프로젝트 명</strong>
  <%= @project.pname %>
</p>

<p>
  <strong>페이지 종류</strong>
  <% if @project.pageType == "0" %>
    gg
  <% elsif @project.pageType == "1" %>
    bbb
  <% elsif @project.pageType == "2" %>
    ccc
  <% elsif @project.pageType == "2" %>
    aa
  <% end %>
</p>

<p>
  <strong>마감기간</strong>
  <%= @project.deadline %>
</p>

<p>
  <strong>필요한 기술자</strong>
  <% if @project.skillType0 == "1" %>
    프론트앤드 개발자
  <% elsif @project.skillType1 == "1"%>
    백앤드 개발자
  <% elsif @project.skillType2 == "1"%>
  디자이너
  <% end %>
</p>

<p>
  <strong>기타요구</strong>
  <%= @project.pcontent %>
</p>

<p>
  <strong>내용</strong>
  <%= @project.pcontent %>
</p>


<div>
<p>
  <strong>사진</strong>
</p>
<% @project.photos.each do | photo | %>
  <img src="<%= photo.thumb.url %>" />
<% end %>
</div>   

<hr>
<h3>댓글</h3>
<form action="/projects/show/<%= @project.id%>/comments/create" method="post" >
    <input type='text' name='input_comment'>
    <input type="submit">
</form>
<hr>
<% @comments.each do |comment|%>
    <p>
        <%= comment.content %> 
       <a href="/projects/show/<%= @project.id%>/comments/delete/<%= comment.id%>" data-method='post' data-confirm="이 댓글을 삭제하시겠습니까?">[x]</a>
    </p>
<% end %>
<hr>
<%= link_to '[목록으로가기]', projects_path %>
<%= link_to '[수정]', edit_project_path(@project) %>
<a href="/projects/delete/<%=@project.id%>" data-confirm="진짜로 삭제 하시겠어요?"data-method="post">[삭제]</a>

</div>