<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'style' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <%= link_to root_path do%>
     <section id="main-section">
     <nav class="navigation">
      <h1 class="Service-name">Paper</h1>
      <div class="category-container">
        <ul class="left-category-container">
          <li class="category"><a href="#">이용방법</a></li>
          <li class="category"><a href="/projects/new" data-method='post'>신청하기</a></li>
          <li class="category"><a href="/projects/show" date-method='post'>프로젝트</a></li>
          <li class="category"><a href="#">고객센터</a></li>
        </ul>
        <ul class="right-category-container">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <li class="category"><a href="/models/sign_in">Sign-in</a></li>
          <li class="category"><a href="/models/sign_up">Sign-up</a></li>
          <li class="category"><a href="/models/sign_out">Sign-out</a></a></li>
          <li class="category">
            <form id="search"
              action="">
              <label for="search_input"></label>
              <div class="search-container">
              <div class="">
                <input
                  type="text"
                  id="search_input"
                  class="search-input">
              </div>
              <div class="">
                <button type="submit" onclick="searchTrigger(this)" >검색</button>
              </div>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </nav>
  </section>
    
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>
<% end %>
  <script>
    // var searchForm = document.querySelector('#search');
    // var searchTrigger = document.querySelector('.search-trigger');
    // searchTrigger.addEventListener('click', function(event) {
    //   event.preventDefault();
    //   searchForm.style.opacity = 1;
    //   this.style.opacity = 0;
    //   var _this = this;
    //   window.setTimeout(function() {
    //     _this.style.display = 'none';
    //   }, 200)
    // })
    
    
  </script>
</body>
</html>
